.custom-card {
    background-color: #bfbfbf; /* Fondo de la tarjeta */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
}  
.custom-title {
    color: #c55a1e; /* Color del título */
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    padding: 16px 0;
}  
.table-container {
    margin-top: 20px;
}  
.custom-table {
    width: 100%;
    border-collapse: collapse; /* Eliminar espacios entre celdas */
}  
.custom-header {
    background-color: #c55a1e; /* Color de fondo del encabezado */
    color: rgb(0, 0, 0); /* Color del texto */
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.custom-cell {
    color: #333; /* Color del texto de las celdas */
    padding: 10px;
}  
.custom-row:hover {
    background-color: #e3f2fd; /* Efecto hover sobre las filas */
}  
.custom-paginator {
    background-color: #f9f9f9; /* Fondo del paginador */
    margin-top: 20px;
}  

.card-header {
    display: flex;
    justify-content: space-between; /* Espacia el título y el botón */
    align-items: center; /* Centra verticalmente */
    padding: 16px; /* Espaciado alrededor del contenido */
}

.add-button {
    background-color: #c55a1e; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border-radius: 50%; /* Hacer el botón circular */
    width: 50px; /* Ancho del botón */
    height: 50px; /* Alto del botón */
    font-size: 24px; /* Tamaño de fuente del símbolo "+" */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s, transform 0.2s; /* Efecto de transición para el fondo y el tamaño */
    display: flex; /* Flex para centrar el contenido */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar efecto de profundidad */
}

.add-button:hover {
    background-color: #e36c3c; /* Color de fondo al pasar el ratón */
    transform: scale(1.1); /* Aumentar el tamaño al pasar el ratón */
}

.add-button:focus {
    outline: none; /* Elimina el contorno de enfoque */
}