footer.footer {
    position: relative;
    width: 100%;
    background-color: #c55a1e;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    bottom: 0;
    z-index: 2;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.3); /* Sombra leve en el borde superior */
}
