<app-navbar></app-navbar>

<div class="historia">
    <h5>
        La Asociación Cordobesa de Remo (ACR) fue fundada en 1951 para promover el remo en la provincia. Años más tarde, en 1966, el Club de Remo de Villa Carlos Paz, fue creado por el entonces director del colegio Cristo Obrero, Rodolfo Doyenart Tesera, donde ese mismo año se afilió a la Asociación Argentina de Remeros Aficionados. En la década del 70 adquirió su predio actual y se construyó un galpón para guardar sus embarcaciones.  
        <br><br>
        En 1980, fue noticia en todos en todos los titulares ya que lanzó un programa para alumnos ciegos, siendo así pioneros en esta materia. Aproximadamente diez años más tarde, varios socios colaboraron en el entrenamiento de jóvenes remeros.  
        <br><br>
        En 2007, el club permaneció cerrado alrededor de siete años y gracias al empuje más entusiasmo de un pequeño grupo de remeros que hoy conforman la Comisión Directiva se fueron sorteando y priorizando obstáculos para que poco a poco el remo vuelva a estar presente en el lago San Roque.  
        <br><br>
        En 2011, renovó su comisión directiva y recibió un subsidio municipal para mejorar su infraestructura. Con el correr del tiempo el club de Remo de Villa Carlos Paz logró ser sede para competencias (como regata oficial), recibiendo más de 500 deportistas de diferentes instituciones provinciales y también de Uruguay, considerada una de las mejores pistas para el desarrollo de la actividad.
    </h5>

    <div class="historia-imagen">
        <img src="historia.webp" alt="Imagen Historia" class="imagen-historia">
    </div>
</div>

<app-footer></app-footer>

