<app-navbar></app-navbar>

<div class="welcome-container">
    <img src="ACR.png" alt="Imagen de encabezado">
    <h2 class="h2-index">¡Bienvenidos!</h2>
</div>        
<div id="map"></div>        

<!-- Sección de video -->
<section class="video-section">
    <video autoplay loop muted playsinline>
        <source src="Video-remando.mp4" type="video/mp4">
    </video>
</section>



<!-- Contenido adicional debajo del video -->
<section class="about-acr">
    <h3>Somos la Asociación Cordobesa de Remo de Villa Carlos Paz</h3>
    <p>Brindamos servicio de reserva de botes, así como enseñanza en esta comunidad que cada vez se agranda más. Promovemos el deporte y la sana competencia. ¡Queremos que seas parte de nuestro proyecto!</p>
    <p>Asóciate con nosotros acercándote al muelle, donde uno de nuestros capitanes tomará tus datos para que seas parte de esta gran familia.</p>
</section>

<app-footer></app-footer>



    <!-- Errores y soluciones:
    error de rehidratación Index es el unico que debe contener header y body
    error en las imagenes, era porque cree una carpeta public y el angular.json habia guardado esa ruta para archivos de este tipo
    por lo que assets debia apuntar en esa direccion para funcionar     -->